<{include file='common/_header' /}>
<style>
    .nodata{width:100%; padding:20px 0; text-align:center; font-size:16px;}
    .nodata img{width:32px; height:32px; margin:0 auto;}
</style>
<body class="font">
<!-- 头部 -->
<div id="top" class="white pos_rel">
    <h2 class="txt_c f36 white_gray"><{$title}></h2>
    <span class="top_back pos_abs f32">
        <a class="go_back white">返回</a>
    </span>
    <a class="top_set pos_abs" href="<{:url('mobile/Goods/category')}>"></a>
</div>
<!-- 搜索栏 -->
<div id="search_2" class="pos_rel">
    <div class="search ml70">
		<span class="txt">
			<input type="text" value="<{empty name='keyword'}>请输入搜索内容<{else /}><{$keyword}><{/empty}>" id="input_txt" class="f20" onclick="this.value=''">
		</span>
        <input type="hidden" id="is_default" value="<{$is_default}>">
        <input type="hidden" id="cat_id" value="<{$cat_id}>">
        <input type="hidden" id="keyword" value="<{$keyword}>">
        <input type="hidden" id="condition" value="<{$condition}>">
        <input type="hidden" id="cur_btn" value="1">
        <input type="hidden" id="sort_type" value="<{$sort_type}>">
        <input type="hidden" id="p" value="<{$p}>">
        <input type="hidden" id="site_url" value="<{$SITE_URL}>">
        <input type="submit" id="input_btn" value="搜索" class="pos_abs f32" onclick="paramsGoods(this,0)">
    </div>
</div>
<!-- 排序 -->
<ul id="sort_list" class="prod_sort clearfix txt_c mt10 box_shadow_bot2 bgc_white">
    <li data-sort="1" class="cur" onclick="paramsGoods(this,1)"><span>销量&nbsp;<img src="/static/mobile/images/icon_arrow_1.png"></span></li>
    <li data-sort="1" onclick="paramsGoods(this,2)"><span>人气&nbsp;<img src="/static/mobile/images/icon_arrow.png"></span></li>
    <li data-sort="1" onclick="paramsGoods(this,3)"><span>价格&nbsp;<img src="/static/mobile/images/icon_arrow.png"></span></li>
    <li data-sort="1" onclick="paramsGoods(this,4)"><span>时间&nbsp;<img src="/static/mobile/images/icon_arrow.png"></span></li>
</ul>

<!-- 搜索结果 -->
<!--<div id="prod_count" class="mt16 pb10">共找到相关产品<span><{$list_count}></span>个</div>-->
<div id="prod_count" class="mt16 pb10"></div>
<{volist name="list" id="vo"}>
    <div class="prod_lists">
        <a href="<{:url('mobile/Goods/goodsInfo',['goods_id'=>$vo.goods_id])}>"><div class="pro_img"><img src="/static/mobile/images/none/pro_default.jpg" alt="产品图" title="产品图" class="full_img"></div></a>
        <div class="pro_info">
            <h3><a href="<{:url('mobile/Goods/goodsInfo',['goods_id'=>$vo.goods_id])}>"><{$vo.goods_name}></a></h3>
            <h4><a href="<{:url('mobile/Goods/goodsInfo',['goods_id'=>$vo.goods_id])}>"><{$vo.goods_remark}></a></h4>
            <div><span class="price">￥<{$vo.shop_price}></span><span class="num_comm">已卖:<{$vo.sales_sum}>件</span></div>
        </div>
    </div>
<{/volist}>
<div class="nodata">
<{gt name="$list_count" value="5"}><img src="/static/mobile/images/loading.gif"/> <{else /}> 已全部加载 <{/gt}>
</div>
<script>
    var params = {};
    params.cat_id = '';
    params.keyword = '';
    params.condition = ''; //条件列
    params.sort_type = '';	//1从高到底,0从底到高
    params.p = ''; //页数
    cur_btn = 1;  //当前排序按钮

    function setValue(name,value) {
        $('#'+name).val(value);
        return value;
    }

    function getValue(name) {
        return $('#'+name).val();
    }

    function paramsGoods(obj, condition) {
        cur_type = getValue('cur_type');
        params.condition = setValue('condition',condition);
        params.is_default = setValue('is_default',0);
        params.cat_id = getValue('cat_id');
        site_url = getValue('site_url');
        if(cur_btn == condition) {
            params.sort_type = setValue('sort_type',1-getValue('sort_type'));
        } else {
            cur_btn = condition;
            setValue('cur_btn',condition);
            params.sort_type = getValue('sort_type');
        }
        params.p = setValue('p',1);
        if(getValue('input_txt') == '请输入搜索内容'){
            params.keyword = setValue('keyword','');
        } else {
            params.keyword = setValue('keyword',getValue('input_txt'));
        }
        //修改显示
        if(condition == 0) {
            params.sort_type = setValue('sort_type',1);
            $("#sort_list").children().find("img").attr('src', '<{$SITE_URL}>static/mobile/images/icon_arrow.png');
            $("#sort_list").children().first().find("img").attr('src', '<{$SITE_URL}>static/mobile/images/icon_arrow_'+params.sort_type+'.png');
        } else {
            $(obj).children().find("img").attr('src', '<{$SITE_URL}>static/mobile/images/icon_arrow_'+params.sort_type+'.png');
            $(obj).siblings().children().find("img").attr('src', '<{$SITE_URL}>static/mobile/images/icon_arrow.png');
        }
        //发送请求
        $.ajax({
            type: "POST",
            url: "<{:url('mobile/Goods/ajaxGoodList')}>",
            data: params,
            dataType: "json",
            success: function(data){
                $('.prod_lists').remove();
                if(data.length > 0){
//                $("#prod_count span").html(data.length);
                    var html = '';
                    $.each(data, function(key, val){
                        html +='<div class="prod_lists"><div class="pro_img" href="'+site_url+'goods/info/'+val.goods_id+'"><img src="/static/mobile/images/none/pro_default.jpg" alt="产品图" title="产品图" class="full_img"></div><div class="pro_info"><h3><a href="'+site_url+'goods/info/'+val.goods_id+'">'+val.goods_name+'</a></h3><h4><a href="'+site_url+'goods/info/'+val.goods_id+'">'+val.goods_remark+'</a></h4><div><span class="price">￥'+val.shop_price+'</span><span class="num_comm">已卖:'+val.sales_sum+'件</span></div></div></div>';
                    });
                    //同级后追加
                    $('#prod_count').after(html);
                } else {
                    $(".nodata").html("已全部加载");
                }

            }
        });
    }
</script>
<script type="text/javascript" src="/static/mobile/js/autoload.js"></script>
<{include file='common/_footer' /}>