<{include file="common/_header" /}>
<body class="font" style="margin:0 0;background:none">
<div id="top" class="white pos_rel"><h2 class="txt_c f36 white_gray">订单流程</h2><span class="top_back pos_abs f32"><a class="go_back white">返回</a></span><a class="top_set pos_abs" href="{:url('mobile/Goods/category')}"></a></div>

<div class="box_shadow_bot2 mb16 bgc_white bs_carts">
	<div style="margin-top: 50px;">下单成功，<a href="<{:url('mobile/Order/unpaid')}>" style="color: #191aff">前往支付</a></div>
</div>
<{include file="common/_footer" /}>