<{extend name="public/_blank" /}>
<{block name="body"}>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 商品管理 <span class="c-gray en">&gt;</span> 商品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="#" method="get">
        <div class="text-c">
            <!--支付时间：<input type="text" name="start_time" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" id="datemin" class="input-text Wdate" style="width:160px;" autocomplete="off">-<input type="text" name="end_time" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" id="datemax" class="input-text Wdate" style="width:160px;" autocomplete="off">-->
            <span class="select-box inline"><select class="select" name="cat_id">
                <option value="">分类</option>
                <{volist name="cateList" id="vo"}>
                <option value="<{$vo.id}>" <{eq name="$Request.get.cat_id" value="$vo.id"}>selected<{/eq}> ><{$vo.char_name}></option>
                <{/volist}>
            </select></span> &nbsp;&nbsp;&nbsp;
            <span class="select-box inline"><select class="select" name="is_on_sale"><option value="">上架状态</option><option value="1" <{eq name="$Request.get.is_on_sale" value="1"}>selected<{/eq}>>是</option><option value="0" <{eq name="$Request.get.is_on_sale" value="0"}>selected<{/eq}>>否</option></select></span>&nbsp;&nbsp;&nbsp;
            <span class="select-box inline"><select class="select" name="other"><option value="">其它</option><option value="1" <{eq name="$Request.get.other" value="1"}>selected<{/eq}>>热卖</option><option value="2" <{eq name="$Request.get.other" value="2"}>selected<{/eq}>>推荐</option><option value="3" <{eq name="$Request.get.other" value="3"}>selected<{/eq}>>新品</option></select></span>&nbsp;&nbsp;&nbsp;
            <input type="text" class="input-text" style="width:250px" placeholder="商品名称" id="" name="goods_name" value="<{$Request.get.goods_name}>">
            <input type="submit" class="btn btn-success" value="查询">
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <!--<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>-->
            <a class="btn btn-primary radius" onclick="goodsAdd('添加商品','<{:url("admin/Goods/goodsAdd")}>')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加商品</a>
        </span>
        <!--<span class="r">共有数据：<strong>54</strong> 条</span>-->
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-responsive">
            <thead>
                <tr>
                    <th scope="col" colspan="12">商品列表</th>
                </tr>
                <tr class="text-c">
                    <th width="40"><input name="" type="checkbox" value=""></th>
                    <th width="40">id</th>
                    <th width="60">缩略图</th>
                    <th width="150">商品名称</th>
                    <th width="60">分类</th>
                    <th width="60">价格</th>
                    <th width="40">热卖</th>
                    <th width="40">推荐</th>
                    <th width="40">新品</th>
                    <th width="40">上架状态</th>
                    <th width="60">库存</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
                <{volist name="goodsList" id="vo"}>
                <tr class="text-c">
                    <td><input name="" type="checkbox" value=""></td>
                    <td><{$vo.goods_id}></td>
                    <td><a onClick="product_show('图片','product-show.html','10001')" href="javascript:;"><img width="60" class="product-thumb" src="https://img.alicdn.com/tfs/TB1qpwlQXXXXXcCXXXXXXXXXXXX-256-256.png_60x60.jpg_.webp?<{$vo.original_img}>"></a>
                    </td>
                    <td class="text-l"><a style="text-decoration:none" href="javascript:;"><{$vo.goods_name}></a></td>
                    <td class="text-l"><{notempty name="$cateList[$vo.cat_id]['name']"}><{$cateList[$vo.cat_id]['name']}><{/notempty}></td>
                    <td>￥ <span class="price"><{$vo.shop_price}></span></td>
                    <td><a class="badge <{eq name="$vo.is_hot" value="1"}>badge-success<{else/}>label-default<{/eq}> radius" href="javascript:;"><{eq name="$vo.is_hot" value="1"}>是<{else/}>否<{/eq}></a></td>
                    <td><a class="badge <{eq name="$vo.is_recommend" value="1"}>badge-success<{else/}>label-default<{/eq}> radius" href="javascript:;"><{eq name="$vo.is_recommend" value="1"}>是<{else/}>否<{/eq}></a></td>
                    <td><a class="badge <{eq name="$vo.is_new" value="1"}>badge-success<{else/}>label-default<{/eq}> radius" href="javascript:;"><{eq name="$vo.is_new" value="1"}>是<{else/}>否<{/eq}></a></td>
                    <td><a class="badge <{eq name="$vo.is_on_sale" value="1"}>badge-success<{else/}>label-default<{/eq}> radius" href="javascript:;"><{eq name="$vo.is_on_sale" value="1"}>是<{else/}>否<{/eq}></a></td>
                    <td class="text-l"><{$vo.store_count}></td>
                    <td class="td-manage"><a style="text-decoration:none" onClick="product_stop(this,'10001')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a> <a style="text-decoration:none" class="ml-5" onClick="product_edit('产品编辑','product-add.html','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="product_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                </tr>
                <{/volist}>
            </tbody>
        </table>
    </div>
    <div class="text-c"><{$goodsList->render()}></div>
</div>
<{/block}>
<{block name="script"}>
<script type="text/javascript">

    /*产品-添加*/
    function goodsAdd(title, url) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /*产品-查看*/
    function product_show(title, url, id) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*产品-审核*/
    function product_shenhe(obj, id) {
        layer.confirm('审核文章？', {
                btn: ['通过', '不通过'],
                shade: false
            },
            function () {
                $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="product_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                $(obj).remove();
                layer.msg('已发布', {icon: 6, time: 1000});
            },
            function () {
                $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="product_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
                $(obj).remove();
                layer.msg('未通过', {icon: 5, time: 1000});
            });
    }
    /*产品-下架*/
    function product_stop(obj, id) {
        layer.confirm('确认要下架吗？', function (index) {
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
            $(obj).remove();
            layer.msg('已下架!', {icon: 5, time: 1000});
        });
    }

    /*产品-发布*/
    function product_start(obj, id) {
        layer.confirm('确认要发布吗？', function (index) {
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
            $(obj).remove();
            layer.msg('已发布!', {icon: 6, time: 1000});
        });
    }

    /*产品-申请上线*/
    function product_shenqing(obj, id) {
        $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
        $(obj).parents("tr").find(".td-manage").html("");
        layer.msg('已提交申请，耐心等待审核!', {icon: 1, time: 2000});
    }

    /*产品-编辑*/
    function product_edit(title, url, id) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /*产品-删除*/
    function product_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function (data) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>
<{/block}>