<{include file="common/_header" /}>
<body class="font">
<!-- 头部 -->
<div id="top" class="white pos_rel"><h2 class="txt_c f36 white_gray">个人中心</h2><span class="top_back pos_abs f32"><a class="go_back white">返回</a><a class="close ml10 white">关闭</a></span><a class="top_set pos_abs" href="<{:url('mobile/Goods/category')}>"></a></div>
<div class="bgc_blue txt_c box_person">
	<div class="personal"><img src="/static/mobile/images/icon_person.png" alt="个人中心" title="个人中心"></div>
	<div class="personal_txt mt16"><a href="#" class="white"><{$user['nickname']}></a></div>
</div>
<!-- 我的订单 -->
<div class="border_topBot bgc_white"><a href="#" class="myOrder black">我的订单</a></div>
<!-- 导航 -->
<ul class="box_shadow_bot2 mt16 clearfix fast_nav txt_c bgc_white">
	<li><a href="<{:url('mobile/Order/unpaid')}>"><img src="/static/mobile/images/img_unpaid.png" alt="待支付"></a></li>
	<li><a href="<{:url('mobile/Order/unfilled')}>"><img src="/static/mobile/images/img_inbound.png" alt="待收货"></a></li>
	<li><a href="<{:url('mobile/Order/remark')}>"><img src="/static/mobile/images/img_evaluated.png" alt="待评价"></a></li>
	<li><a href="<{:url('mobile/Order/refund')}>"><img src="/static/mobile/images/img_returning.png" alt="退货中"></a></li>
</ul>
<ul class="fast_nav2 bor_top_gray mt16 bgc_white">
	<li><a href="<{:url('mobile/Cart/cart')}>" class="fn_carts">购物车</a></li>
	<li><a href="#" class="fn_collect">收藏</a></li>
	<li><a href="<{:url('mobile/User/addressList')}>" class="fn_address">收货地址管理</a></li>
	<li><a href="#" class="fn_infos">消息中心</a></li>
	<li><a href="#" class="fn_help">帮助中心</a></li>
    <li><a href="#" class="fn_help">每日签到</a></li>
</ul>
<{include file="common/_footer" /}>